In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [2]:
#File to load
vacation_data_to_load = "weather_data/WeatherPy_vacation.csv"

In [3]:
# Read the   file and store it in a pandas DataFrame.
vacation_data_df = pd.read_csv(vacation_data_to_load, index_col=[0])
vacation_data_df.head(10)

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
3,Vieste,IT,few clouds,75.00,41.88,16.18,Hotel Falcone
9,Atuona,PF,scattered clouds,80.44,-9.80,-139.03,Villa Enata
11,Kahului,US,few clouds,87.80,20.89,-156.47,Maui Seaside Hotel
15,Rikitea,PF,clear sky,70.25,-23.12,-134.97,Pension Maro'i
19,Puerto Ayora,EC,broken clouds,71.01,-0.74,-90.35,Finch Bay Galapagos Hotel
22,Gat,IL,clear sky,72.00,31.61,34.76,רגע בנחת
23,Yellowknife,CA,broken clouds,72.00,62.46,-114.35,The Explorer Hotel
24,Rancho Palos Verdes,US,few clouds,73.00,33.74,-118.39,Terranea Resort
26,Ponta Do Sol,PT,few clouds,71.60,32.67,-17.10,Hotel do Campo
31,Sembe,CG,overcast clouds,70.34,1.65,14.58,NaN

In [4]:
# Ask the customer name four cities you would like to see on vacation?
destination_one = input("Name the first city you want to visit on vacation?")
destination_two = input("Name the second city you want to visit on vacation?")
destination_three = input("Name the third city you want to visit on vacation?")
destination_four = input("Name the fourth city you want to visit on vacation?")

Name the first city you want to visit on vacation?Tivoli
Name the second city you want to visit on vacation?Vieste
Name the third city you want to visit on vacation?Crotone
Name the fourth city you want to visit on vacation?Marsala

In [5]:
# Get city 1 in a new DataFrame.
city_one = vacation_data_df.loc[vacation_data_df["City"] == "Tivoli"]
city_one

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
341,Tivoli,IT,few clouds,70.0,41.96,12.8,Hotel Cristallo Relais
918,Tivoli,IT,few clouds,70.0,41.96,12.8,Hotel Cristallo Relais

In [6]:
# Get Get city 2 in a new DataFrame. new DataFrame.
city_two = vacation_data_df.loc[vacation_data_df["City"] == "Vieste"]
city_two

       City Country Current Description  Max Temp    Lat    Lng     Hotel Name
3    Vieste      IT          few clouds      75.0  41.88  16.18  Hotel Falcone
580  Vieste      IT          few clouds      75.0  41.88  16.18  Hotel Falcone

In [7]:
# Get city 3 in a new DataFrame.
city_three = vacation_data_df.loc[vacation_data_df["City"] == "Crotone"]
city_three

        City Country Current Description  Max Temp    Lat    Lng    Hotel Name
366  Crotone      IT           clear sky     74.39  39.09  17.12  Helios Hotel
943  Crotone      IT           clear sky     74.39  39.09  17.12  Helios Hotel

In [8]:
#Get city 4 in a new DataFrame.
city_four = vacation_data_df.loc[vacation_data_df["City"] == "Marsala"]
city_four

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
321,Marsala,IT,few clouds,73.4,37.8,12.44,Villa Favorita Hotel e Resort
898,Marsala,IT,few clouds,73.4,37.8,12.44,Villa Favorita Hotel e Resort

In [19]:
t1 = tuple(city_one.values[0][4:6])
t2 = tuple(city_two.values[0][4:6])
t3 = tuple(city_three.values[0][4:6])
t4 = tuple(city_four.values[0][4:6])

In [20]:
coordinates=[]
coordinates.append(t1)
coordinates.append(t2)
coordinates.append(t3)
coordinates.append(t4)
coordinates

[(41.96, 12.8), (41.88, 16.18), (39.09, 17.12), (37.8, 12.44)]

In [21]:
import gmaps.datasets
gmaps.configure(api_key=g_key)

#Latitude-Longitude pairs
tivoli = (41.96, 12.8)
vieste = (41.88, 16.18)
crotone = (39.09, 17.12)
marsala = (37.8, 12.44)

fig = gmaps.figure()
tivoli2marsala_via_vieste_and_crotone = gmaps.directions_layer(
    tivoli, marsala, waypoints=[vieste, crotone],
    travel_mode='DRIVING')
fig.add_layer(tivoli2marsala_via_vieste_and_crotone)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
weatherpy_travel_map_markers = pd.concat([city_one, city_two, city_three, city_four])
weatherpy_travel_map_markers

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
341,Tivoli,IT,few clouds,70.00,41.96,12.80,Hotel Cristallo Relais
918,Tivoli,IT,few clouds,70.00,41.96,12.80,Hotel Cristallo Relais
3,Vieste,IT,few clouds,75.00,41.88,16.18,Hotel Falcone
580,Vieste,IT,few clouds,75.00,41.88,16.18,Hotel Falcone
366,Crotone,IT,clear sky,74.39,39.09,17.12,Helios Hotel
943,Crotone,IT,clear sky,74.39,39.09,17.12,Helios Hotel
321,Marsala,IT,few clouds,73.40,37.80,12.44,Villa Favorita Hotel e Resort
898,Marsala,IT,few clouds,73.40,37.80,12.44,Villa Favorita Hotel e Resort

In [23]:
weatherpy_travel_map_markers.drop_duplicates(inplace = True)
weatherpy_travel_map_markers

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
341,Tivoli,IT,few clouds,70.00,41.96,12.80,Hotel Cristallo Relais
3,Vieste,IT,few clouds,75.00,41.88,16.18,Hotel Falcone
366,Crotone,IT,clear sky,74.39,39.09,17.12,Helios Hotel
321,Marsala,IT,few clouds,73.40,37.80,12.44,Villa Favorita Hotel e Resort

In [31]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_itinerary.csv"
# Export the City_Data into a CSV.
weatherpy_travel_map_markers.to_csv(output_data_file)

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
weatherpy_travel_info = [info_box_template.format(**row) for index, row in weatherpy_travel_map_markers.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
# Configure gmaps to use your Google API key.

locations = weatherpy_travel_map_markers[["Lat", "Lng"]]
max_temp = weatherpy_travel_map_markers["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=weatherpy_travel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))