In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,La Grande,US,2020-06-25 15:43:14,45.32,-118.09,66.2,52,1,13.87
1,1,Hilo,US,2020-06-25 15:42:14,19.73,-155.09,73.4,88,90,5.82
2,2,Arraial Do Cabo,BR,2020-06-25 15:39:46,-22.97,-42.03,82.4,45,41,8.05
3,3,Hithadhoo,MV,2020-06-25 15:43:14,-0.60,73.08,84.6,73,77,11.10
4,4,Pemba,MZ,2020-06-25 15:43:14,-12.97,40.52,78.8,69,40,16.11

In [3]:
#  Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# print(locations)

# 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# print(max_temp)

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig
# print(fig)

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hilo,US,2020-06-25 15:42:14,19.73,-155.09,73.40,88,90,5.82
2,2,Arraial Do Cabo,BR,2020-06-25 15:39:46,-22.97,-42.03,82.40,45,41,8.05
3,3,Hithadhoo,MV,2020-06-25 15:43:14,-0.60,73.08,84.60,73,77,11.10
4,4,Pemba,MZ,2020-06-25 15:43:14,-12.97,40.52,78.80,69,40,16.11
8,8,Hanzhong,CN,2020-06-25 15:43:14,33.07,107.03,75.58,78,87,1.19
10,10,Mahibadhoo,MV,2020-06-25 15:43:14,3.78,72.97,83.21,77,89,17.49
16,16,Saint George,US,2020-06-25 15:42:59,37.10,-113.58,86.00,15,1,3.36
17,17,Alappuzha,IN,2020-06-25 15:43:15,9.49,76.33,80.44,84,98,3.67
18,18,Rikitea,PF,2020-06-25 15:43:15,-23.12,-134.97,72.57,80,9,16.62
21,21,Alofi,NU,2020-06-25 15:43:15,-19.06,-169.92,73.40,94,88,5.82

In [12]:
preferred_cities_df.count()

City_ID       283
City          283
Country       282
Date          283
Lat           283
Lng           283
Max Temp      283
Humidity      283
Cloudiness    283
Wind Speed    283
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
1              Hilo      US     73.40  19.73 -155.09
2   Arraial Do Cabo      BR     82.40 -22.97  -42.03
3         Hithadhoo      MV     84.60  -0.60   73.08
4             Pemba      MZ     78.80 -12.97   40.52
8          Hanzhong      CN     75.58  33.07  107.03
10       Mahibadhoo      MV     83.21   3.78   72.97
16     Saint George      US     86.00  37.10 -113.58
17        Alappuzha      IN     80.44   9.49   76.33
18          Rikitea      PF     72.57 -23.12 -134.97
21            Alofi      NU     73.40 -19.06 -169.92

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
hotel_df

                City Country  Max Temp    Lat     Lng           Hotel Name
1               Hilo      US     73.40  19.73 -155.09  Hilo Hawaiian Hotel
2    Arraial Do Cabo      BR     82.40 -22.97  -42.03  Pousada Porto Praia
3          Hithadhoo      MV     84.60  -0.60   73.08    Scoop Guest House
4              Pemba      MZ     78.80 -12.97   40.52  Guesthouse Samotina
8           Hanzhong      CN     75.58  33.07  107.03         Guorui Hotel
..               ...     ...       ...    ...     ...                  ...
561  Lazaro Cardenas      MX     79.20  17.96 -102.20
563             Enid      US     82.40  36.40  -97.88
565        Purgstall      AT     73.00  48.06   15.13
569        Khaniotis      GR     84.00  40.00   23.58
570          Salalah      OM     84.20  17.02   54.09

[283 rows x 6 columns]

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(hotels)

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))